In [2]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time;  from datetime import datetime
import math
plt.rcParams["figure.figsize"] = (15,10)

In [3]:
df = pd.read_csv('gapi_city_data-export-2017-11-30.csv') # read the gapi database
df.dropna(axis=1, how='all', inplace=True) # drops all columns where all values are NaN
df.drop("Organic Searches", axis=1,inplace=True) # Drops Column

In [5]:
df.head()

,City,Date Hour,User Type,Device Category,Sessions,Bounces,Users,Transactions,Transaction Revenue,Revenue Per User,Page Value
0,1024931,2017070916,New Visitor,mobile,1,0,1,0,0.0,0.0,0.0
1,1024931,2017070917,Returning Visitor,mobile,1,0,1,0,0.0,0.0,0.0
2,1024931,2017070919,Returning Visitor,mobile,1,0,1,0,0.0,0.0,0.0
3,1024931,2017070920,Returning Visitor,mobile,0,0,1,0,0.0,0.0,0.0
4,1024931,2017071014,New Visitor,mobile,2,0,2,0,0.0,0.0,0.0

In [ ]:
# Extract Day of week - Hour from Date Hour.